html, body, p, img, input, button, div, section, span, ul, li {
  padding: 0;
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans";
  font-size: 14px;
  color: #535154;
}

body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/assets/fonts/Fira_Sans/FiraSans-Regular.ttf");
}

@font-face {
  font-family: Sofia;
  src: url("/assets/fonts/Sofia/Sofia-Regular.ttf");
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

main .dialog-wrapper {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .dialog-wrapper header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8% 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .dialog-wrapper header img {
  width: 50px;
}

main .dialog-wrapper header p {
  font-family: Sofia;
  font-size: 25px;
  color: #A599B5;
  margin-left: 5%;
}

main .dialog-wrapper .contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

main .dialog-wrapper .contact-wrapper .last-contacts-wrapper {
  padding-top: 3%;
}

main .dialog-wrapper .contact-wrapper .last-contacts-wrapper p {
  padding-left: 10%;
  color: #8d8a8f;
  font-size: 1.1rem;
}

main .dialog-wrapper .contact-wrapper .last-contacts-wrapper ul {
  list-style-type: none;
  padding-top: 1%;
}

main .dialog-wrapper .contact-wrapper .last-contacts-wrapper ul .last-contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3% 10%;
  overflow: hidden;
}

main .dialog-wrapper .contact-wrapper .last-contacts-wrapper ul .last-contact-item .last-contact-item__photo {
  width: 40px;
  border: solid 2px #A599B5;
  border-radius: 50%;
  padding: 2%;
}

main .dialog-wrapper .contact-wrapper .last-contacts-wrapper ul .last-contact-item .last-contact-item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-left: 5%;
  overflow: hidden;
}

main .dialog-wrapper .contact-wrapper .last-contacts-wrapper ul .last-contact-item .last-contact-item-text .name-time-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3%;
}

main .dialog-wrapper .contact-wrapper .last-contacts-wrapper ul .last-contact-item .last-contact-item-text .name-time-line .contact-name {
  padding: 0;
  color: #242224;
}

main .dialog-wrapper .contact-wrapper .last-contacts-wrapper ul .last-contact-item .last-contact-item-text .name-time-line .last-message-time {
  padding: 0;
}

main .dialog-wrapper .contact-wrapper .last-contacts-wrapper ul .last-contact-item .last-contact-item-text .message-text {
  padding: 0;
  overflow: hidden;
}

main .dialog-wrapper .contact-wrapper .last-contacts-wrapper ul .last-contact-item:hover {
  background-color: rgba(212, 216, 221, 0.267);
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 8%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper p {
  padding-left: 10%;
  color: #8d8a8f;
  font-size: 1.1rem;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper .input-wrapper {
  border: none;
  border-bottom: 1px solid #8d8a8f57;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
  margin: 2% 10%;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper .input-wrapper img {
  width: 20px;
  margin-left: 2%;
  vertical-align: middle;
  cursor: pointer;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper .input-wrapper input {
  border: none;
  margin-left: 2%;
  width: 80%;
  height: 100%;
  font-size: 1.1rem;
  color: #535154;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper .input-wrapper input:focus {
  outline: none;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper .input-wrapper input::-webkit-input-placeholder {
  color: #53515475;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper .input-wrapper input:-ms-input-placeholder {
  color: #53515475;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper .input-wrapper input::-ms-input-placeholder {
  color: #53515475;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper .input-wrapper input::placeholder {
  color: #53515475;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper ul {
  list-style-type: none;
  padding-top: 1%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  overflow-y: scroll;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper ul::-webkit-scrollbar {
  width: 6px;
  background-color: white;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a79ab67e;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper ul .search-contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3% 10%;
  overflow: hidden;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper ul .search-contact-item .search-contact-item__photo {
  width: 40px;
  border: solid 2px #A599B5;
  border-radius: 50%;
  padding: 2%;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper ul .search-contact-item .search-contact-item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-left: 5%;
  overflow: hidden;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper ul .search-contact-item .search-contact-item-text .contact-name {
  padding: 0;
  color: #242224;
  margin-bottom: 3%;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper ul .search-contact-item .search-contact-item-text .message-text {
  padding: 0;
  overflow: hidden;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper ul .search-contact-item .notification {
  width: 25px;
  padding: 0;
  margin-left: 3%;
  border-radius: 50%;
  text-align: center;
  background-color: #AE8CA3;
  color: white;
  cursor: pointer;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper ul .search-contact-item:hover {
  background-color: rgba(212, 216, 221, 0.267);
}

main .history-wrapper {
  width: 75%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .history-wrapper header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3% 2%;
}

main .history-wrapper header .back {
  width: 25px;
  cursor: pointer;
}

main .history-wrapper header .search-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.1rem;
  color: #535154;
  width: 40%;
  border-radius: 30px;
  border: none;
  border: 1px solid #8d8a8f57;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5% 1%;
}

main .history-wrapper header .search-message img {
  width: 25px;
}

main .history-wrapper header .search-message input {
  border: none;
  margin-left: 3%;
  font-size: 1.1rem;
  color: #535154;
  width: 90%;
}

main .history-wrapper header .search-message input:focus {
  outline: none;
}

main .history-wrapper header .search-message input::-webkit-input-placeholder {
  color: #53515475;
}

main .history-wrapper header .search-message input:-ms-input-placeholder {
  color: #53515475;
}

main .history-wrapper header .search-message input::-ms-input-placeholder {
  color: #53515475;
}

main .history-wrapper header .search-message input::placeholder {
  color: #53515475;
}

main .history-wrapper header .swither-notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1%;
}

main .history-wrapper header .swither-notification input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

main .history-wrapper header .swither-notification label {
  cursor: pointer;
  text-indent: -9999px;
  width: 45px;
  height: 30px;
  background: #f4eff2;
  display: block;
  border-radius: 100px;
  position: relative;
  margin-right: 10px;
}

main .history-wrapper header .swither-notification label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .history-wrapper header .swither-notification input:checked + label {
  background: #a79ab6;
}

main .history-wrapper header .swither-notification input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

main .history-wrapper header .swither-notification label:active:after {
  width: 35px;
}

main .history-wrapper header .swither-notification P {
  color: #6F5A68;
  font-size: 1.1rem;
}

main .history-wrapper header .user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .history-wrapper header .user-block p {
  font-size: 1.2rem;
  color: #6F5A68;
  margin-right: 5px;
}

main .history-wrapper header .user-block img {
  width: 40px;
}

main .history-wrapper .message-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(203, 181, 196, 0.219);
  border-radius: 30px 0 0 0;
  padding: 1% 2%;
}

main .history-wrapper .message-wrapper .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ccc6d4;
  padding: 0.5% 1%;
  border-radius: 30px;
  margin: 1% auto;
  width: 7%;
}

main .history-wrapper .message-wrapper .message-items-wrapper {
  list-style-type: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  overflow-y: scroll;
}

main .history-wrapper .message-wrapper .message-items-wrapper::-webkit-scrollbar {
  width: 6px;
  background-color: #f4eff2;
}

main .history-wrapper .message-wrapper .message-items-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a79ab631;
}

main .history-wrapper .message-wrapper .message-items-wrapper .to-message .to-message-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .history-wrapper .message-wrapper .message-items-wrapper .to-message .to-message-user img {
  width: 50px;
}

main .history-wrapper .message-wrapper .message-items-wrapper .to-message .to-message-user p {
  color: #242224;
  border: none;
  background: none;
  margin: 0;
  margin-left: 2%;
  font-size: 1.2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .history-wrapper .message-wrapper .message-items-wrapper .to-message .to-message-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-left: 5%;
  margin-top: 3px;
  background-color: white;
  color: #82778f;
  padding: 1% 2%;
  font-size: 1.2rem;
  border-radius: 0 20px 20px 20px;
}

main .history-wrapper .message-wrapper .message-items-wrapper .to-message .to-message-text .to-time {
  text-align: right;
  margin-left: 3%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #c3c2c4;
}

main .history-wrapper .message-wrapper .message-items-wrapper .from-message {
  text-align: right;
}

main .history-wrapper .message-wrapper .message-items-wrapper .from-message .own-photo {
  width: 50px;
}

main .history-wrapper .message-wrapper .message-items-wrapper .from-message .from-message-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  margin-left: auto;
  margin-right: 5%;
  margin-top: 3px;
  padding: 1% 2%;
  border: 1px solid #a79ab6;
  background-color: #a79ab6;
  color: white;
  font-size: 1.2rem;
  border-radius: 20px 0 20px 20px;
}

main .history-wrapper .message-wrapper .message-items-wrapper .from-message .from-message-text .text-message {
  text-align: left;
}

main .history-wrapper .message-wrapper .message-items-wrapper .from-message .from-message-text .from-time {
  text-align: right;
  margin-left: 3%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #d5d3d6;
}

main .history-wrapper .message-wrapper .send-message-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  padding: 1% 2%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  background-color: white;
  border: 1px solid #a79ab6;
  border-radius: 20px;
}

main .history-wrapper .message-wrapper .send-message-wrapper .smile {
  width: 30px;
  cursor: pointer;
}

main .history-wrapper .message-wrapper .send-message-wrapper input {
  width: 90%;
  border: none;
  font-size: 1.1rem;
  color: #30272D;
}

main .history-wrapper .message-wrapper .send-message-wrapper input:focus {
  outline: none;
}

main .history-wrapper .message-wrapper .send-message-wrapper input::-webkit-input-placeholder {
  color: #53515475;
  font-size: 1.1rem;
}

main .history-wrapper .message-wrapper .send-message-wrapper input:-ms-input-placeholder {
  color: #53515475;
  font-size: 1.1rem;
}

main .history-wrapper .message-wrapper .send-message-wrapper input::-ms-input-placeholder {
  color: #53515475;
  font-size: 1.1rem;
}

main .history-wrapper .message-wrapper .send-message-wrapper input::placeholder {
  color: #53515475;
  font-size: 1.1rem;
}

main .history-wrapper .message-wrapper .send-message-wrapper .send-message {
  width: 30px;
  cursor: pointer;
}

.active-contact {
  background-color: #f4eff2;
}
/*# sourceMappingURL=main.css.map */