html, body, p, img, input, button, div, section, span, ul, li {
    padding: 0;
    margin: 0;
}

html {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans";
    font-size: 14px;
    color: #535154;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

@font-face {
    font-family: "Fira Sans";
    src: url('/assets/fonts/Fira_Sans/FiraSans-Regular.ttf');
}

@font-face {
    font-family: Sofia;
    src: url('/assets/fonts/Sofia/Sofia-Regular.ttf');
}

main {

    display: flex;
    width: 100%;

    .dialog-wrapper {
        width: 25%;

        header {
            display: flex;
            padding: 8% 10%;
            align-items: center;

            img {
                width: 50px;
            }

            p {
                font-family: Sofia;
                font-size: 25px;
                color: #A599B5;
                margin-left: 5%;
            }
        } //header

        .contact-wrapper {
            display: flex;
            flex-direction: column;

            .last-contacts-wrapper {
                padding-top: 3%;

                p {
                    padding-left: 10%;
                    color: #8d8a8f;
                    font-size: 1.1rem;
                }

                ul {
                    list-style-type: none;
                    padding-top: 1%;
                    

                    .last-contact-item {
                        display: flex;
                        align-items: center;
                        padding: 3% 10%;
                        overflow: hidden;

                        .last-contact-item__photo {
                            width: 40px;
                            border: solid 2px #A599B5;
                            border-radius: 50%;
                            padding: 2%;

                            
                        }

                        .last-contact-item-text {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            margin-left: 5%;
                            overflow: hidden;

                            .name-time-line {
                                display: flex;
                                justify-content: space-between;
                                margin-bottom: 3%;

                                .contact-name {
                                    padding: 0;
                                    color: #242224;;
                                }

                                .last-message-time {
                                    padding: 0;
                                }
                            }

                            .message-text {
                                padding: 0;
                                overflow: hidden;
                            }
                        }

                        &:hover {
                            background-color: rgba(212, 216, 221, 0.267);
                        }
                    } //li
                } //ul
            } //last-contacts-wrapper

            .search-contacts-wrapper {

                padding-top: 8%;

                p {
                    padding-left: 10%;
                    color: #8d8a8f;
                    font-size: 1.1rem;
                }

                .input-wrapper {
                    // border-radius: 30px;
                    border: none;
                    border-bottom: 1px solid #8d8a8f57;
                    align-items: center;
                    padding: 2%;
                    margin: 2% 10%;

                    img {
                        width: 20px;
                        margin-left: 2%;
                        vertical-align: middle;
                        cursor: pointer;
                    }

                    input {
                        border: none;
                        margin-left: 2%;
                        width: 80%;
                        height: 100%;
                        font-size: 1.1rem;
                        color: #535154;

                        &:focus {
                            outline: none;
                        }

                        &::placeholder {
                            color: #53515475;
                        }
                    }
                    
                }

                ul {
                    list-style-type: none;
                    padding-top: 1%;
                    height: 40vh;
                    overflow-y: scroll;

                    
                    &::-webkit-scrollbar {
                        width: 6px;
                        background-color: white;
                    }

                    &::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        background-color: #a79ab67e;
                    }
                    

                    .search-contact-item {
                        display: flex;
                        align-items: center;
                        padding: 3% 10%;
                        overflow: hidden;

                        .search-contact-item__photo {
                            width: 40px;
                            border: solid 2px #A599B5;
                            border-radius: 50%;
                            padding: 2%;

                            
                        }

                        .search-contact-item-text {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            margin-left: 5%;
                            overflow: hidden;

                            .contact-name {
                                padding: 0;
                                color: #242224;
                                margin-bottom: 3%;
                            }

                            .message-text {
                                padding: 0;
                                overflow: hidden;
                            }

                            
                        }
                        .notification {
                            width: 25px;
                            padding: 0;
                            margin-left: 3%;
                            border-radius: 50%;
                            text-align: center;
                            background-color: #AE8CA3;
                            color: white;
                        }

                        &:hover {
                            background-color: rgba(212, 216, 221, 0.267);
                        }
                    }

                    

                } //ul

            }

        } //.contacts-wrapper
    } //dialog-wrapper

    .history-wrapper {
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: column;

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 3% 2%;

            .back {
                width: 25px;
                cursor: pointer;
            }

            .search-message {
                display: flex;
                font-size: 1.1rem;
                color: #535154;
                width: 40%;

                border-radius: 30px;
                border: none;
                border: 1px solid #8d8a8f57;
                align-items: center;
                padding: 0.5% 1%;

                img {
                    width: 25px;
                }

                input {
                    border: none;
                    margin-left: 3%;
                    font-size: 1.1rem;
                    color: #535154;
                    width: 90%;

                    &:focus {
                        outline: none;
                    }


                    &::placeholder{
                        color: #53515475;
                    }
                }
            }

            .swither-notification {
                display: flex;
                align-items: center;
                margin-left: 1%;

                input[type=checkbox]{
                    height: 0;
                    width: 0;
                    visibility: hidden;
                }
                
                label {
                    cursor: pointer;
                    text-indent: -9999px;
                    width: 45px;
                    height: 30px;
                    background: #f4eff2;
                    display: block;
                    border-radius: 100px;
                    position: relative;
                    margin-right: 10px;
                }
                
                label:after {
                    content: '';
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    width: 20px;
                    height: 20px;
                    background: #fff;
                    border-radius: 90px;
                    transition: 0.3s;
                }
                
                input:checked + label {
                    background: #a79ab6;
                }
                
                input:checked + label:after {
                    left: calc(100% - 5px);
                    transform: translateX(-100%);
                }
                
                label:active:after {
                    width: 40px;
                }

                P {
                    color: #6F5A68;
                    font-size: 1.1rem;
                }

            }

            .user-block {
                display: flex;
                align-items: center;

                p {
                    font-size: 1.2rem;
                    color: #6F5A68;
                    margin-right: 5px;
                }

                img {
                    width: 40px;
                }

            }
        } //header

        .message-wrapper {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            background-color: rgba(203, 181, 196, 0.219);
            border-radius: 30px 0 0 0;
            padding: 2%;

           
                

            .message-items-wrapper {
                list-style-type: none;
                flex: 1 0 0;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 6px;
                    background-color: #f4eff2;
                }
    
                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    background-color: #a79ab631;
                        
                }
                    

                .to-message {
                    .to-message-user {
                        display: flex;

                        img {
                            width: 50px;
                        }

                        p {
                            color: #242224;
                            border: none;
                            background: none;
                            margin: 0;
                            margin-left: 2%;
                            font-size: 1.2rem;
                            align-self: center;
                        }
                    }

                    .to-message-text {
                        display: flex;
                        width: 50%;
                        margin-left: 5%;
                        background-color: white;
                        color: #82778f;
                        padding: 1% 2%;
                        font-size: 1.2rem;
                        border-radius: 0 20px 20px 20px;

                        .to-time {
                            text-align: right;
                            margin-left: 3%;
                            align-self: flex-end;
                            color: #c3c2c4;
                        }
                    }
                }

                .from-message {
                    text-align: right;

                    img {
                        width: 50px;
                    }

                    .from-message-text {
                        display: flex;
                        width: 50%;
                        margin-left: auto;
                        margin-right: 5%;
                        padding: 1% 2%;
                        border: 1px solid #a79ab6;
                        background-color: #a79ab6;
                        color: white;
                        font-size: 1.2rem;
                        border-radius: 20px 0 20px 20px;

                        p {
                            text-align: left;
                        }

                        .from-time {
                            text-align: right;
                            margin-left: 3%;
                            align-self: flex-end;
                            color: #d5d3d6;
                        }
                    }
                }
            }//message-items-wrapper

            .send-message-wrapper {
                display: flex;
                flex-shrink: 0;
                justify-content: space-between;
                align-items: center;
                width: 60%;
                padding: 1% 2%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 1%;

                background-color: white;
                border: 1px solid #a79ab6;
                border-radius: 20px;

                .smile {
                    width: 30px;
                    cursor: pointer;

                    &:hover {
                        
                    }
                }

                input {
                    width: 90%;
                    border: none;
                    font-size: 1.1rem;
                    color: #30272D;

                    &:focus {
                        outline: none;
                    }


                    &::placeholder{
                        color: #53515475;
                        font-size: 1.1rem;
                    }
                }

                .send-message {
                    width: 30px;
                    cursor: pointer;
                }
            } //send-message-wrapper
        } //message-wrapper
    } //history-wrapper
} //main

.active-contact {
    background-color: #f4eff2;
}