html, body, p, img, input, button, div, section, span, ul, li {
  padding: 0;
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans";
  font-size: 14px;
  color: #535154;
}

body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@font-face {
  font-family: "Fira Sans";
  src: url("/assets/fonts/Fira_Sans/FiraSans-Regular.ttf");
}

@font-face {
  font-family: Sofia;
  src: url("/assets/fonts/Sofia/Sofia-Regular.ttf");
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

main .dialog-wrapper {
  width: 25%;
}

main .dialog-wrapper header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8% 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .dialog-wrapper header img {
  width: 50px;
}

main .dialog-wrapper header p {
  font-family: Sofia;
  font-size: 25px;
  color: #A599B5;
  margin-left: 5%;
}

main .dialog-wrapper .contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .dialog-wrapper .contact-wrapper .last-contacts-wrapper {
  padding-top: 3%;
}

main .dialog-wrapper .contact-wrapper .last-contacts-wrapper p {
  padding-left: 10%;
  color: #8d8a8f;
  font-size: 1.1rem;
}

main .dialog-wrapper .contact-wrapper .last-contacts-wrapper ul {
  list-style-type: none;
  padding-top: 1%;
}

main .dialog-wrapper .contact-wrapper .last-contacts-wrapper ul .last-contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3% 10%;
  overflow: hidden;
}

main .dialog-wrapper .contact-wrapper .last-contacts-wrapper ul .last-contact-item .last-contact-item__photo {
  width: 40px;
  border: solid 2px #A599B5;
  border-radius: 50%;
  padding: 2%;
}

main .dialog-wrapper .contact-wrapper .last-contacts-wrapper ul .last-contact-item .last-contact-item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-left: 5%;
  overflow: hidden;
}

main .dialog-wrapper .contact-wrapper .last-contacts-wrapper ul .last-contact-item .last-contact-item-text .name-time-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3%;
}

main .dialog-wrapper .contact-wrapper .last-contacts-wrapper ul .last-contact-item .last-contact-item-text .name-time-line .contact-name {
  padding: 0;
  color: #242224;
}

main .dialog-wrapper .contact-wrapper .last-contacts-wrapper ul .last-contact-item .last-contact-item-text .name-time-line .last-message-time {
  padding: 0;
}

main .dialog-wrapper .contact-wrapper .last-contacts-wrapper ul .last-contact-item .last-contact-item-text .message-text {
  padding: 0;
  overflow: hidden;
}

main .dialog-wrapper .contact-wrapper .last-contacts-wrapper ul .last-contact-item:hover {
  background-color: rgba(212, 216, 221, 0.267);
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper {
  padding-top: 8%;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper p {
  padding-left: 10%;
  color: #8d8a8f;
  font-size: 1.1rem;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper .input-wrapper {
  border: none;
  border-bottom: 1px solid #8d8a8f57;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
  margin: 2% 10%;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper .input-wrapper img {
  width: 20px;
  margin-left: 2%;
  vertical-align: middle;
  cursor: pointer;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper .input-wrapper input {
  border: none;
  margin-left: 2%;
  width: 80%;
  height: 100%;
  font-size: 1.1rem;
  color: #535154;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper .input-wrapper input::-webkit-input-placeholder {
  color: #53515475;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper .input-wrapper input:-ms-input-placeholder {
  color: #53515475;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper .input-wrapper input::-ms-input-placeholder {
  color: #53515475;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper .input-wrapper input::placeholder {
  color: #53515475;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper ul {
  list-style-type: none;
  padding-top: 1%;
  height: 40vh;
  overflow-y: scroll;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper ul .search-contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3% 10%;
  overflow: hidden;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper ul .search-contact-item .search-contact-item__photo {
  width: 40px;
  border: solid 2px #A599B5;
  border-radius: 50%;
  padding: 2%;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper ul .search-contact-item .search-contact-item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-left: 5%;
  overflow: hidden;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper ul .search-contact-item .search-contact-item-text .contact-name {
  padding: 0;
  color: #242224;
  margin-bottom: 3%;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper ul .search-contact-item .search-contact-item-text .message-text {
  padding: 0;
  overflow: hidden;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper ul .search-contact-item .notification {
  width: 25px;
  padding: 0;
  margin-left: 3%;
  border-radius: 50%;
  text-align: center;
  background-color: #AE8CA3;
  color: white;
}

main .dialog-wrapper .contact-wrapper .search-contacts-wrapper ul .search-contact-item:hover {
  background-color: rgba(212, 216, 221, 0.267);
}

main .history-wrapper {
  width: 75%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .history-wrapper header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3% 2%;
}

main .history-wrapper header .back {
  width: 25px;
  cursor: pointer;
}

main .history-wrapper header .search-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.1rem;
  color: #535154;
  width: 40%;
  border-radius: 30px;
  border: none;
  border: 1px solid #8d8a8f57;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5% 1%;
}

main .history-wrapper header .search-message img {
  width: 25px;
}

main .history-wrapper header .search-message input {
  border: none;
  margin-left: 3%;
  font-size: 1.1rem;
  color: #535154;
  width: 90%;
}

main .history-wrapper header .search-message input::-webkit-input-placeholder {
  color: #53515475;
}

main .history-wrapper header .search-message input:-ms-input-placeholder {
  color: #53515475;
}

main .history-wrapper header .search-message input::-ms-input-placeholder {
  color: #53515475;
}

main .history-wrapper header .search-message input::placeholder {
  color: #53515475;
}

main .history-wrapper header .swither-notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1%;
}

main .history-wrapper header .swither-notification img {
  width: 40px;
  margin-right: 10px;
  cursor: pointer;
}

main .history-wrapper header .swither-notification P {
  color: #6F5A68;
  font-size: 1.1rem;
}

main .history-wrapper header .user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .history-wrapper header .user-block p {
  font-size: 1.2rem;
  color: #6F5A68;
  margin-right: 5px;
}

main .history-wrapper header .user-block img {
  width: 40px;
}

main .history-wrapper .message-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(203, 181, 196, 0.219);
  height: 100%;
  border-radius: 30px 0 0 0;
  padding: 3%;
}

main .history-wrapper .message-wrapper .message-items-wrapper {
  height: 73%;
  overflow-y: scroll;
}

main .history-wrapper .message-wrapper .message-items-wrapper ul {
  list-style-type: none;
}

main .history-wrapper .message-wrapper .message-items-wrapper ul .to-message img {
  width: 50px;
}

main .history-wrapper .message-wrapper .message-items-wrapper ul .to-message p {
  width: 50%;
  margin-left: 5%;
  background-color: white;
  padding: 1% 2%;
  font-size: 1.2rem;
  border-radius: 0 20px 20px 20px;
}

main .history-wrapper .message-wrapper .message-items-wrapper ul .from-message {
  text-align: right;
}

main .history-wrapper .message-wrapper .message-items-wrapper ul .from-message img {
  width: 50px;
}

main .history-wrapper .message-wrapper .message-items-wrapper ul .from-message p {
  width: 50%;
  margin-left: auto;
  margin-right: 5%;
  padding: 1% 2%;
  border: 1px solid #a79ab6;
  background-color: #a79ab6;
  color: white;
  font-size: 1.2rem;
  border-radius: 20px 0 20px 20px;
}

main .history-wrapper .message-wrapper .send-message-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 3%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  padding: 1% 2%;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  border: 1px solid #a79ab6;
  border-radius: 20px;
}

main .history-wrapper .message-wrapper .send-message-wrapper .smile {
  width: 30px;
  cursor: pointer;
}

main .history-wrapper .message-wrapper .send-message-wrapper input {
  width: 80%;
  border: none;
  font-size: 1.1rem;
  color: #30272D;
}

main .history-wrapper .message-wrapper .send-message-wrapper input::-webkit-input-placeholder {
  color: #53515475;
  font-size: 1.1rem;
}

main .history-wrapper .message-wrapper .send-message-wrapper input:-ms-input-placeholder {
  color: #53515475;
  font-size: 1.1rem;
}

main .history-wrapper .message-wrapper .send-message-wrapper input::-ms-input-placeholder {
  color: #53515475;
  font-size: 1.1rem;
}

main .history-wrapper .message-wrapper .send-message-wrapper input::placeholder {
  color: #53515475;
  font-size: 1.1rem;
}

main .history-wrapper .message-wrapper .send-message-wrapper .send-message {
  width: 30px;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */